.title-first {

    &__main {
        display: block;
        color: $color-white;
        font-size: 5rem;
        font-weight: 800;
        line-height: normal;
        letter-spacing: 1rem;
        text-transform: uppercase;
        margin-bottom: 1rem;
        animation-name: leftToRight;
        animation-duration: 1.7s;
        animation-delay: 1s;
        animation-timing-function: ease;
        @include respond(tab-land) {
            font-size: 4rem;
        }
        @include respond(tab-port) {
            font-size: 3.6rem;
            letter-spacing: .5rem;
            margin-bottom: 0;
        }
    
    }

    &__secondary {
        display: block;
        color: $color-white;
        font-size: 4rem;
        font-weight: 300;
        line-height: normal;
        letter-spacing: 0.5rem;
        animation-name: rightToLeft;
        animation-duration: 1.7s;
        animation-delay: 1s;
        animation-timing-function: ease;
        margin-bottom: 6.5rem;
        @include respond(tab-land) {
            font-size: 3.5rem;
            margin-bottom: 3.5rem;
        }
        @include respond(tab-port) {
            font-size: 3.2rem;
            letter-spacing: .2rem;
        }
    }
}

.title-secondary {
    text-align: center;
    font-size: $font-size-paragraph-h2;
    letter-spacing: 1rem;
    text-transform: uppercase;
    font-weight: 800;
    background: linear-gradient(90deg, rgba($color-brown-light, 0.70) 0.03%, rgba($color-brown-dark, 0.70) 99.94%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    backface-visibility: hidden;
    transition: transform .4s, text-shadow .4s;
    @include respond(tab-land) {
        font-size: 3rem;
    }
    @include respond(tab-port) {
        letter-spacing: .6rem;
    }

    &_white {
        color: $color-white;
    }
    &:hover {
        transform: skewY(2deg) skewX(15deg) scale(1.1);
        text-shadow: $shadow-h2;
    }
}

.title-third {
    font-size: $font-size-paragraph-h3;
    letter-spacing: .2rem;
    text-transform: uppercase;
    font-weight: 700;
    @include respond(tab-land) {
        font-size: 1.6rem
    }
}

.paragraph {
    font-size: $font-size-paragraph;
    letter-spacing: .2rem;
    line-height: 140%;
    font-weight: 400;
    @include respond(tab-land) {
        font-size: 1.5rem;
    }
}