$color-gray: #777777;
$color-brown-light: #BA8554;
$color-brown-dark: #A14F03;
$color-black: #000;
$color-white: #fff;

$box-shadow-alpha-hover: 0.5;
$box-shadow-alpha-active: 0.2;

$box-shadow: (0 .4rem .4rem rgba(0, 0, 0, 0.3));
$box-shadow-hover: (0 .4rem .4rem rgba(0, 0, 0, $box-shadow-alpha-hover));
$box-shadow-active: (0 .4rem .4rem rgba(0, 0, 0, $box-shadow-alpha-active));
$shadow-h2: 0rem .4rem .4rem rgba($color-black, .25);

$grid-width: 114rem;
$marginal-vertical-big: 8rem;
$gutter-horizontal: 6rem;

$font-size-paragraph: 1.6rem;
$font-size-paragraph-h2: 3.6rem;
$font-size-paragraph-h3: 2rem;